

.col-md{
    
    box-shadow: 4px 2px  8px 2px rgba(255, 153, 0, 0.2), 0 1px 2px rgba(255, 153, 0, 0.3);
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    transition: transform 0.3s ease;
    
}
.col-md:hover{
    transform: scale(0.8);
}

    
.view{
    border: 0.5px solid #f4af47;
    border-radius: 30px;
    justify-content: center;
    font-weight: bold;
    width: 60%;
    height: 40px;
    align-items: center;
    display: flex;
    
}
.Projects{
    border: 1px solid;
    
    border-left-color: #F14F21;
    border-top-color:#7EB900;
    border-right-color:#00A3EE;
    border-bottom-color:#FEB800;
    border-radius: 30px;
    margin: 2%;
    
}
.view-link {
    background-color: #0056b3; /* Darker blue on hover */
    text-decoration: none; /* Ensure no underline on hover */
  }
  
  @media screen and (max-width: 768px) {
    .view {
      padding: 6px 12px;
      font-size: 12px;
      width:30%;
      border: 0.5px solid #f4af47;
     border-radius: 30px;   
     font-weight: bold;
   
    margin: auto;
     
    }
    .row{
        width:99%;
    }
    

  
  
}
  
  
  